/* Created by: Jakub Malhotra
* Created on: March 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: rgb(134 234 47);
}

.page-content {
  color: lightslategray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}
.page-content-answer {
  color: rgb(23 115 207);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.right-image {
  height: auto;
  width: 250px;
  float: right;
}

body {
  background-color: rgb(244 222 18);
}

img {
  height: 400px;
  width: 450px;
  float: right;
  margin-bottom: 100;
  margin-right: 100;
}